@media (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none !important;
  }
}

#container {
  display: flex;
  background: #F7F7F8;
}

#sidebar,
#content {
  display: flex;
}

#desktop-sidebar {
  min-width: 200px;
}

.sidebar {
  display: flex;
  min-height: calc(100vh - 54px); /* the height of the top menu */
  height: 100%;
}

.sidebar .ui.vertical.menu {
  box-shadow: unset;
  border-top: none;
  border-bottom: none;
}
